<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite thread-count="3" parallel="methods" name="Suite">

 <test name="MyTest" parallel="methods" thread-count="3">

 <!-- <Listeners>

 <Listener class-name="listenerpack.ListenTheTests"></Listener>

</Listeners> -->

<!-- <parameter name="datapass" value="Hanuman" /> -->

<!-- Grouping -->

<!-- <groups>

<run>

<include name="samsung"></include>

<exclude name="Apple"></exclude>

</run>

</groups> -->

<classes>

<class name="testpack.PrioritiseTestcases"/>
<class name="parallelpack.ParallelExecutionDemo"/>

<!-- <class name="annotationorderpack.FirstTestSuite"/>

<class name="parametersationpack.Datapass"/>



<class name = "assertionspack.AssertionsDemo"/>

<class name = "annotationtestngpack.NewTest"> -->

<!-- <class name="groupspack.GroupsDemo"/> -->

</classes>

</test> <!-- Test -->

</suite> <!-- Suite -->